<div class="flex-container">
  <div class="footer">
    <mat-toolbar class="footerToolBar" aria-label="toolBar footer">
      <button mat-icon-button class="ButtonsFooter" disabled>
        <mat-icon>portrait</mat-icon>
        <br />
        Guidelines
      </button>
      <button mat-icon-button class="ButtonsFooter" routerLink="employees">
        <mat-icon>menu</mat-icon>
        <br />
        Employees
      </button>
      <button mat-icon-button class="ButtonsFooter" disabled>
        <mat-icon>folder_open</mat-icon>
        <br />
        Projects
      </button>
      <button
        mat-icon-button
        class="ButtonsFooter"
        routerLink="user-info"
      >
        <mat-icon>person_outline</mat-icon>
        <br />
        Employee <br />info
      </button>
      <button mat-icon-button class="ButtonsFooter" disabled>
        <mat-icon>chat_bubble_outline</mat-icon>
        <br />
        Chat
      </button>
    </mat-toolbar>
  </div>
</div>
