.toolBar{
    background-color: #ffff;
    height: 80px;
    padding: 0;
}

.TittleToolBar{
    flex: 1 1 auto;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
  }

.buttonsToolBar{
    position: absolute;
    right: 0;
  }

